@import "general.css";

#chat {
  display: none;
}

#goHome {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto 10px;
  font-size: 13px;
  font-weight: bold;
}

#FunChatLabel {
  margin: auto;
}

#centering {
  width: 50px;
  margin: auto 10px;
}

/*Chat  styling*/
#chatLayout {
  display: grid;
  grid-template-rows: 10% 90%;
  width: 100%;
  max-width: 960px;
  margin: auto;
  height: 100%;  
  box-sizing: initial;
}

#chatPage {
  background-color: #d1d1d1;
  margin: 25px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 85% 15%;
}

.windows {
  width: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: rgb(131, 131, 131);
}

#chatWindow {
  margin: 0 5px 5px 0;
  display: grid;
  grid-template-rows: 10% 90%;
  background-color: #adadad;
}

#chatTitle {
  font-size: 22px;
  font-weight: bold;
  margin: auto 10px;
}

.scrollable {
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

#chatMessages {
  background-color: #ffffff;
  display: flex;
  flex-direction: column-reverse;
}

#chatMessages li {
  width: auto;
  padding: 5px 10px; 
  border-top: solid 1px rgb(131, 131, 131);
  border-bottom: solid 1px rgb(131, 131, 131);
}

#userWindow {
  margin: 0 0 5px 5px;  
  width: auto;
  display: grid;
  grid-template-rows: 85% 15%;
}

#chatUsers {
  padding: 10px;
  list-style-type: none;
}

#chatUsers li {
  padding: 5px 0; 
}

#inviteButton {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #adadad;
  color: #000000;
  border-radius: 0;
  border: none;
  border-top: solid 3px rgb(131, 131, 131);  
}

#inviteButton:hover {
  background-color: rgb(131, 131, 131);
  color: #ffffff;
}

.chatButtons {
  font-size: 18px;
}

.chatButtons:focus {
  outline: none;  
}

#messageWindow {
  margin: 5px 5px 0 0;
  display: grid;
  grid-template-rows: 50% 50%;
}

#imageAndSearch {
  padding: 5px;
  border-bottom: solid 1px rgb(131, 131, 131);
}

#imageAndSearch button{
  width: 5%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#m {
  width: 100%;
  height: 100%;
  border: none;
  border-top: solid 1px rgb(131, 131, 131);
  padding: 5px;  
}

#m:focus {
  outline: none; 
}

#send {
  margin: 5px 0 0 5px;
}