@import "general.css"; 
/*--------------------------------------------------- Create Chat ---------------------------------------------------*/
#chatCreate{
    display: none;
    width: 100%;
    max-width: 700px;
    text-align: center;
    justify-content: center;
}

#chatCreate form{
    width: 100%;
}

#createChatToLobby
{
    /*todo try to center*/
}

#displayUsers {
    width: 100%;
    
  
}

#displayUsers li{
    display: inline;
    float: left;
    width: 45%;
    margin: 10px;
}

.userSelects{
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#userListLabel{
    font-size: 18px;
    font-weight: bold;
   
}

#ctrlWarning{
    font-size: 16px;
    color: rgb(15, 92, 235);
    font-weight: bold;
}

#chatname, #chatnameLabel{
    font-size: 16px;
    margin-top: 5px;
}

.createChatButtons{
    width: 18%;
    min-height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 5px;
}