@import "general.css"; 
/*--------------------------------------------------- Edit Profile ---------------------------------------------------*/
#editProfile{
    display: none;
    width: 100%;
    max-width: 700px;
    text-align: center;
    justify-content: center;
}

#newDisplayNameField, #newEmailField, #newPasswordField{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#newNameLabel, #newEmailLabel, #newPasswordLabel{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}