@import "general.css"; 
@import "authentication.css"; 

/*Styling for registration form*/
#registerForm{
    display: none;
}

#returnToLoginLink{
    color: rgb(15, 92, 235);
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
}

#returnToLoginLink:hover{
    text-decoration: underline;
}