/*General styling for Login/Registration Screens*/
#authentication{
    width: 100vw;
    max-width: 818px;
    height: 75vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: 16px;
}

#authentication form{
    width: 30%;  
    min-width: 200px;
}

#authentication input{
    font-size:16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding:2px;
}