/*
Visual styling for the application
*/

/*Basic components*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

#FunChatLabel{
    font-size: 45px;
    color: rgb(15, 92, 235);
    font-weight: bold;
    padding: 20px;
    width: 100%;
    /*justify-content: center;
    text-align: center;*/
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.headerButton{
    width:16%;
    max-height: 35px;
    margin:0px;
    padding-right: 0px;
    padding-left: 0px;
}

.screenTitle{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

body { 
    font: 13px Helvetica, Arial;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.generalLabel{
    margin-top: 10px;
    margin-bottom:5px;
    text-align: left;
    color: black;
}

.flexRow{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.flexCol{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

button{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 38%;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px rgb(15, 92, 235);
    background-color: white;
    color: rgb(15, 92, 235);
}

button:hover{
    color:white;
    background-color: rgb(15, 92, 235);
    border: rgb(15, 92, 235);
}

select:active, select:hover {
    outline-color: rgb(15, 92, 235);
  }