/*
Visual styling for the application
*/

/*Basic components*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

#title{
    font-size: 50px;
    color: rgb(15, 92, 235);
    font-weight: bold;
    padding: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
}

body { 
    font: 13px Helvetica, Arial;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.label{
    margin-top: 10px;
    margin-bottom:5px;
    text-align: left;
    color: black;
}

.flexRow{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.flexCol{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

button{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 37%;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px rgb(15, 92, 235);
    background-color: white;
    color: rgb(15, 92, 235);
}

button:hover{
    color:white;
    background-color: rgb(15, 92, 235);
    border: rgb(15, 92, 235);
}