@import "general.css"; 

/*Homepage styling*/
#home{
    display: none;
}

#displayName{
    font-size: 30px;
    margin-top: 25px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
}