@import "general.css"; 

/*Homepage styling*/
#home{
    /* display: none; */
}

#displayName{
    font-size: 30px;
    margin-top: 25px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
}
#viewprofile{
    display: inline-block;
    width: 20vw;
    height: 20vw;
    border-radius: 25px;
    border: 2px solid #8AC007;
}

#charlobby{
    display: inline-block;
    width: 20vw;
    height: 20vw;
    border-radius: 25px;
    border: 2px solid #8AC007;
}

#friendlist{
    display: inline-block;
    width: 20vw;
    height: 20vw;
    border-radius: 25px;
    border: 2px solid #8AC007;
}
.photo{
    width: 85%;
    height: auto;
    top: 0;
}