/*
Visual styling for the application
*/

/*Basic components*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    color:  rgb(41, 41, 41);
}

body { 
    font: 13px Helvetica, Arial;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    height: 100vh;
}

.flexRow{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.flexCol{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*General styling for Login/Registration Screens*/
#title{
    font-size: 30px;
    color: rgb(15, 92, 235);
    font-weight: bold;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#authentication{
    width: 100vw;
    max-width: 818px;
    height: 75vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: 16px;
    box-shadow: 0px 0px 8px 3px #979797;
}

#authentication form{
    width: 30%;  
    min-width: 200px;
}

.label{
    margin-top: 10px;
    margin-bottom:5px;
    text-align: left;
    font-weight: bold;
}

#authentication input{
    font-size:16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding:2px;
}

button{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 37%;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px rgb(15, 92, 235);
    background-color: white;
    color: rgb(15, 92, 235);
}

button:hover{
    color:white;
    background-color: rgb(15, 92, 235);
    border: rgb(15, 92, 235);
}

/*Styling for registration form*/
#registerForm{
    display: none;
}

#returnToLogin{
    color: rgb(15, 92, 235);
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
}

#returnToLogin:hover{
    text-decoration: underline;
}

/*Homepage styling*/
#homeTitle{
    font-size: 50px;
    color: rgb(15, 92, 235);
    font-weight: bold;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#homepage{
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#homeContent{
    font-size: 30px;
    margin-top: 25px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 166, 0);
}




